* {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Arial;
    box-sizing: border-box;
}

body {
    padding: 40px 64px;
}

h1 {
    text-align: center;
}

.passages {
    border: 1px solid #dddcda;
    background-color: white;
    padding: 40px 40px 64px;
}

.number {
    font-weight: 700;
}
